<?xml version="1.0"?>
<config>
	<modules>
		<KS_Megamenu>
			<version>1.0.0</version>
		</KS_Megamenu>
	</modules>
	<frontend>
		<layout>
			<updates>
				<megamenu>
					<file>megamenu.xml</file>
				</megamenu>
			</updates>
		</layout>
	</frontend>
	<global>
		<blocks>
			<megamenu>
				<class>KS_Megamenu_Block</class>
			</megamenu>
		</blocks>
		<helpers>
			<megamenu>
				<class>KS_Megamenu_Helper</class>
			</megamenu>
		</helpers>
		<models>
			<megamenu>
				<class>KS_Megamenu_Model</class>
			</megamenu>
		</models>
		<resources>
			<megamenu_setup>
				<setup>
					<module>KS_Megamenu</module>
					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</megamenu_setup>
			<megamenu_write>
				<connection>
					<use>core_write</use>
				</connection>
			</megamenu_write>
			<megamenu_read>
				<connection>
					<use>core_read</use>
				</connection>
			</megamenu_read>
		</resources>
	</global>
	<default>
		<athlete>
			<megamenu>
				<status>1</status>
        <home>0</home>
        <sidebar>0</sidebar>
				<custom_block_id></custom_block_id>
				<additional_block_id></additional_block_id>
			</megamenu>
		</athlete>
	</default>
</config>
